.page{
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 35px;
    text-align: center;
}
.title-pag{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.logo{
    border-radius: 50%;
    width: 90px;
    box-shadow: 0 5px 0 rgba(116, 114, 114, 0.7);
    /* border: solid silver 8px; */
}
/* main */
.caja{
    margin: 50px 10px;
    width: 300px;
    height: 350;
    border-radius: 10px;
    /* border: solid rgb(85, 83, 83) 2px; */
    background-color: #dae0e0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
   
}
/* .caja:hover{
  box-shadow: 6px 6px 3px rgb(129, 126, 126);   
} */
.vermas{
    text-decoration: none;
    border: none;
}
.info{
    /* display: flex; */
    /* flex-direction: column;
    text-align: start; */
    text-align: center;
    /* margin: 0px 6px; */

}



/* carousel */
.img-carousel{
    width: 100%;
    height: 500px;
}
/* footer */
.logo-footer{
    border-radius: 50%;
    box-shadow: 0px 5px rgb(114, 112, 112);
  
}

a>i{
    color: rgb(19, 17, 17);
}
a>i:hover{
    color: rgb(107, 105, 105);
}
/* cajasproducts */
.logo-main{
    width: 150px;
    border-radius:100px;
    margin: 50px 500px;
    display: flex;
    
}
.container-productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    /* margin: 100px; */
    border-radius: 14px;
    /* border: solid rgba(150, 141, 141, 0.877) 3px; */
    width: 100%;
    /* margin: 10px; */
   
}
/* .productos{
    display: flex;
    justify-content: space-around;
} */
 .seccionproducto{
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

    
 display: flex;
 flex-direction: column;
 
 }
.carasteristicas{
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(119, 120, 121);
    text-align: center;
    margin: 0px 7px;
    
}
.precio{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
   width: 150px;
   height: 50px;
   margin: 0px auto;
   border-radius: 10px;
   color: white;
   padding: 10px;
    background-color: rgb(55, 121, 221);
}

.WhatsApp{
    font-size: 40px;
    color: green;
}
.img-producto{
    width: auto;
    height: 200px;
}
.carasteristicas{
    text-align: start;
    /* font-size: 10px; */
}
.nameproducto{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;

}
.btn{
    margin: 7px 10px;
    width: 150px;
    font-family: sans-serif;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .logo-footer{
        width: 40px;
    }
    .img-carousel{
        height: 350px;
    }
    .caja{
        
        width: 370px;
        margin: 50px auto;
        height: auto;
    }
    .img-producto{
        width: auto;
        height: 300px;
    }
    .container-productos{
        display: flex;
        flex-direction: column;
        margin: 0px auto;
       
      
    }
    .carasteristicas{
        font-size: 20px;
    }
    .nameproducto{
        font-size: 20px;
    }
    .precio{
        font-size: 20px;
    }
    .logo-main{
        margin: 30px auto;
    }
}